<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Picture</title>
    <link rel="stylesheet" href="style.css">
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}

  </head>
  <body>
    <div>
        <div class="text-center">
            <p>
                what is this picture?
            </p>
            <img src="https://www.tgbtgsports.com/uploads/1/2/9/3/129342933/old-tgbtg-logo-2x_orig.png" class="rounded w-50">
            </div>
    </div>
  </body>
</html>